<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel = "tests" thread-count = "2">
<test name = "TestDemo1">
<parameter name = "testName" value = "Chrome Test"/>
<classes>
      <class name="com.rameshsoftautomation.TestngPrograms.ParallelSuiteDemo"/>
    </classes>
</test>
<test name = "TestDemo2">
<parameter name = "testName" value = "FireFox Test"/>
<classes>
      <class name="com.rameshsoftautomation.TestngPrograms.ParallelSuiteDemo"/>
    </classes>
</test>
</suite> <!-- Suite -->
